.projects-page-box {
  height: auto;
}

#apps-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: auto;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

#apps-section,
#ad-section {
  border-radius: 1em;
  background-color: var(--main);
  margin: 20px 0px;
}

#ad-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.ad {
  margin: 10px 30px 20px 30px;
  justify-self: center;
}

.intro {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}

.intro,
.title,
.desc {
  font-family: "Righteous", sans-serif;
  color: white;
}

.box-container {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 10px;
}

.box-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Need to rename .projects to "apps" or something, because that's what those styles mainly deal with. Then be sure to transfer appropriate styles to the "apps" and "ads" ids. */

.app-box {
  position: relative;
  margin: 20px 0px;
}

.title {
  top: 30%;
  left: 40%;
  font-size: 30px;
}

.title,
.desc {
  visibility: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.desc {
  top: 80%;
  left: 50%;
  font-size: 20px;
  color: var(--accent);
}

.github-link {
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 82%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.github2 {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .github2 {
    width: 50px;
    height: auto;
  }
}

.github2:hover {
  box-shadow: 0px 0px 3px 3px white;
}

.app-box:hover .title {
  opacity: 1;
}

.box-container:hover {
  opacity: 10%;
}

.app-box:hover,
.ad:hover {
  box-shadow: 0px 0px 5px 5px white;
  transition: all ease-in-out 0.3s;
  transform: scale(1.02);

  .title,
  .desc,
  .github-link {
    visibility: visible;
    opacity: 1;
  }

  .box-container {
    opacity: 10%;
  }
}

@media screen and (max-width: 400px) {
  .box-container {
    width: 180px;
    height: 180px;
    margin: 10px;
  }
}
