#about {
  background-color: var(--main);
  display: flex;
  height: auto;
  flex-direction: column;
  
}

#pic-box {
  margin: 0;

}

#profile-pic {
  margin-left: 20px;
  border-radius: 50%;
  width: 260px;
  height: 315px;
  box-shadow: 0 4px 6px 0 #333;
}

#row1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: autol

}

.snark {
  transform: rotateZ(-3deg);
  margin: 20px 0 30px 20px;
  color: var(--accent);
  font-size: 40px;
  font-family: "Nothing You Could Do", sans-serif;
}

.snark,
.paragraph {
  text-align: left;
}

.paragraph {
  text-indent: 1em;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding: 25px;
}

@media screen and (max-width: 1100px) {
  #long {
  text-align: center;
  margin-bottom: 20px;
}
  .snark {
    margin-bottom: 10px;
  }

  #row2 > p {
    padding: 0 30px;
  }
}

@media screen and (max-width: 800px) {
  #about {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  #row1 {
    flex-direction: column;
  }

  #pic-box {
    margin: 20px 0px 0px 0px;
  }
  #profile-pic {
    width: 143px; /* Change this value to your desired width */
    height: 172px; /* Change this value to your desired height */
  }

  .paragraph {
    padding: 0 20px;
    font-size: 18px;
  }

  .snark {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }

  #paragraph-box-1 {
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  #profile-pic {
    width: 115px;
    height: 137px;
  }
}