#about {
  background-color: var(--main);
  display: flex;
  height: auto;
  flex-direction: column;
}

#pic-box {
  margin: 10px;
}

#profile-pic {
  border-radius: 50%;
  width: 260px;
  height: 315px;
  box-shadow: 0 4px 6px 0 #333;
}

#row1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: auto;
}

.snark {
  height: auto;
}

.snark {
  text-align: left;
  transform: rotateZ(-2deg);
  margin: 20px 0 40px 30px;
  color: var(--accent);
  font-size: 40px;
  font-family: "Nothing You Could Do", sans-serif;
}

.paragraph {
  text-align: justify;
  text-align-last: left;
}

.paragraph {
  text-indent: 1em;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding: 0px 25px;
}

@media screen and (max-width: 800px) {
  #about {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  #row1, #row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pic-box {
    margin: 20px 0px 0px 0px;
  }
  #profile-pic {
    width: 143px;
    height: 172px;
  }

  .paragraph {
    padding: 0 20px;
    font-size: 18px;
  }

  .snark {
    margin: 10px 0 5px 0;
    padding: 10px;
  }

  .paragraph-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  #profile-pic {
    width: 115px;
    height: 137px;
  }

  .snark, #long {
    font-size: 30px;
    margin: 0;
  }
}