.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.contact-box {
  width: 80%;
  height: auto;
  background-color: var(--main);
  padding: 20px;
  margin: 10% auto;
}

.contact-box label {
  color: var(--accent);
  font-family: "Nothing You Could Do", sans-serif;
  margin-top: 20px;
}

.contact-box input,
textarea {
  border-radius: 0.3em;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin-bottom: 32px;
}

.contact-box label, .contact-box input,
textarea {
  font-size: 2rem;
  width: 100%;
}

.contact-box button {
  font-family: "Righteous", sans-serif;
  font-size: 1.5rem;
  width: auto;
  border: 3px solid var(--accent);
  background-color: var(--main);
  color: var(--accent);
  border-radius: 0.5em;
}

.contact-box button:hover {
  background-color: var(--bgrnd);
  color: white;
}

@media screen and (max-width: 600px) {
  .contact-box input, textarea, .contact-box label {
    font-size: 1.5rem;
  }
}
