.form-label {

    display: block;
    margin-bottom: 10px;
}

#contact {
    text-align: left;
    color: white;
    margin-bottom: 20px;
}

h4 {
    color: #F4C542;
    font-family: "Nothing You Could Do", sans-serif;
    margin-top: 0;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

#send {
    margin: 10px;
    color: #400303;
    margin: 0px;
    font-size: 20px;
}

#contact, #send {
    font-family: "Righteous", sans-serif;
}

form {
    background-color: #400303;
    padding: 1rem;
    border-radius: 0.7rem;
}

.btn.btn-primary.btn-block.mb-4 {
    background-color: #F4C542;
    border-color: white;
}

.btn.btn-primary.btn-block.mb-4:hover {
    background-color: #400303;
    #send {
        color:white;
    }
}