.contact-box {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  text-align: left;
}

.contact-box p {
  color: var(--accent);
  font-family: 'Nothing You Could Do', sans-serif;
  font-size: 38px;
}

.contact-box input, textarea {
  background-color: blue;
  width: auto;
  min-width: 60%;
}