header {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--main);
  position: flex-start;
}


.header-box {
  flex-grow: 1;
  margin: 20px;
  text-align: center;
}

#name {
  font-family: "Nothing You Could Do", sans-serif;
  color: white;
  font-size: 80px;
}

#webdev {
  color: var(--accent);
  font-size: 40px;
  font-family: "Righteous", sans-serif;
}

#name-webdev {
  display: flex;
  flex-direction: column;
  align-items: center;
}
