header {
    margin-bottom: 10px;
    width: 100vw;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-box {
    background-color: blueviolet;
    flex-grow: 1;
    margin: 10px;
}

#name {
    font-family: "Nothing You Could Do", sans-serif;
    color: white;
    font-size: 60px;
}

/* #logo-box {
    max-width: 200px;
    max-height: 200px;
    background-color: rgb(1, 89, 60);
}

#name-box {
    margin: 10px;
}*/