.nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

#nav {
    width: 100%;
    text-align: center;
    padding: 0px 10px;
    order: 3;
    flex-grow: 1;
}

.nav-link.active .link {
    color: #edca02;
}

.link {
    font-family: "Righteous", sans-serif;
    color: lightgray;
    margin: 0;
    padding: 10px;
    font-size: 22px;
}

.nav-link {
    text-decoration: none;
    margin: 0 10px 10px 10px;
    flex-wrap: wrap;
}

.link:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.20);
    transition: all ease-in-out 0.15s;
}