footer {
    display: flex;
    flex-direction: column;
    background-color: var(--burgundy);
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    width: 100%;
    bottom: 0;
    height: auto;
}

.socials {
    padding: 20px 0px;
}

.social-logo:hover  {
    transition: all ease-in-out 0.25s;
    transform: scale(1.20);
}

#leetcode {
    margin-left: 50px;
}

#github {
    width: 80px;
    height: 80px;

}
#leetcode {
    width: 70px;
    height: 80px;
}

#linkedin {
    width: 90px;
    height: 90px;
    margin-right: 50px;
}

#madewith {
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
    footer, #linkedin, #github, #leetcode {
      height: auto;
    }
}