#footer {
    background-color: #400303;
    margin: 20px 0px 0;
    border-radius: 0.7rem;
    position: flex-end;
}

.socials {
    padding: 20px 0px;    
}

.social-logo:hover  {
    transition: all ease-in-out 0.5s;
    transform: scale(1.10);
}

#leetcode {
    width: 4%;
    height: 4%;
}

#github-logo {
    color: white;
    margin: 0px 30px;
}

#linkedin, #github {
    width: 5%;
    height: 5%;
}

#madewith {
    color: white;
}