:root {
  text-align: center;
  --accent: #f4c542;
  --main: #400303;
  --bgrnd: #1f1c1c;
}

#footer-comp {
  position: fixed;
}

.box, .projects {
  border-radius: 1em;
  
}

.portfolio {
  background-color: var(--bgrnd);
}
